<%- include('header') -%>

<div class="box" id="heading">
  <h1>About</h1>
</div>

<div class="box" id="heading">
  <br>
  <h4>This To Do List is built with HTML5, CSS3, JavaScript, Node JS, Express JS, and EJS.</h4>
  <br>
</div>

<%- include('footer') -%>